# Core functionality - changes here should be rare!
/src/app.py                   @KTim21
/src/backend/database.py      @KTim21
/src/backend/routers/auth.py  @KTim21

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KTim21
